.references-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.card-bg-red {
  background-image: linear-gradient(to bottom right, #dc2626, #b91c1c);
}
.card-bg-purple {
  background-image: linear-gradient(to bottom right, #7e22ce, #db2777);
}
.card-bg-green {

}
.card-bg-cyan {
  background-image: linear-gradient(to bottom right, #0f766e, #0d9488);
}
.card-bg-blue {
  background-image: linear-gradient(to bottom right, #1e3a8a, #1e40af);
}
.card-bg-light-blue {
  background-image: linear-gradient(to bottom right, #3b82f6, #2563eb);
}
.card-bg-black {
  background-image: linear-gradient(to bottom right, #111827, #1f2937);
}


.reference-card-background {
  opacity:.9;
}

.xxl-icon {
  font-size: 48px;
}