.header-gradient {
  background-image: linear-gradient(to bottom, $primary, #000);
}
.series-card {
  background: rgba($primary, .2);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(12px);
  border: 1px solid rgba($primary, .15);
  margin-top: 35px;
}

.kda-color-standard {
  color: #9CA3AF;
}

.kda-color-special {
  color: #00bba3;
}

.kda-color-exceptionell {
  color: #ff8200;
}