#omni-footer {
  border-top: 1px solid
}

.text-muted {
  color: #cfc7c7 !important;
}

.footer-sociallinks {
  .sociallinks-link {
    background-color: unset;
    &:hover {
      background-color: unset;
    }
  }

  .sociallinks-link-icon:before {
    color: #fff;
  }
}