//
// Variables
//

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$primary: #8422d8;
$primary-dark: #6a1cb0;
$primary-light: #9d46e0;
$black: #000;