// 0px
@include media-breakpoint-up(xs) {
  .game-slider {
    .mySwiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      swiper-slide {
        background-position: center;
        background-size: cover;
        height: 424px;
        .slide-headline {
          text-align: center;
          color: #000;
          height: 0;
          border-bottom: 32px solid #fff;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          width: 285px;
          margin-left: auto;
          margin-right: auto;
          &.active {
            border-bottom: 32px solid #8422d8;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            color: #fff;
          }
        }
        img {
          display: block;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .game-slider-description {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    p[class^='subheader'] {
      display: none;
    }
  }
}

// 576px
@include media-breakpoint-up(sm) {
  .game-slider {
    .mySwiper {
      swiper-slide {
        width: 348px;
        height: 424px;
      }
    }
  }
}

// 768px
@include media-breakpoint-up(md) {

}

//992px
@include media-breakpoint-up(lg) {

}

//1200px
@include media-breakpoint-up(xl) {

}